LFODashboard/VendorService/VendorService/obj/Debug/net10.0/VendorService.csproj.AssemblyReference.cache
LFODashboard/VendorService/VendorService/obj/Debug/net10.0/VendorService.AssemblyInfo.cs
LFODashboard/VendorService/VendorService/obj/Debug/net10.0/VendorService.AssemblyInfo.cs
LFODashboard/VendorService/VendorService.Models/obj/Debug/net10.0/VendorService.Models.AssemblyInfoInputs.cache
LFODashboard/VendorService/VendorService.Models/obj/Debug/net10.0/VendorService.Models.AssemblyInfo.cs
LFODashboard/VendorService/VendorService.DAL/obj/Debug/net10.0/VendorService.DAL.csproj.AssemblyReference.cache
LFODashboard/VendorService/VendorService.DAL/obj/Debug/net10.0/VendorService.DAL.AssemblyInfoInputs.cache
LFODashboard/VendorService/VendorService.DAL/obj/Debug/net10.0/VendorService.DAL.AssemblyInfo.cs
LFODashboard/VendorService/VendorService.BL/obj/Debug/net10.0/VendorService.BL.csproj.AssemblyReference.cache
LFODashboard/VendorService/VendorService.BL/obj/Debug/net10.0/VendorService.BL.AssemblyInfoInputs.cache
LFODashboard/VendorService/VendorService.BL/obj/Debug/net10.0/VendorService.BL.AssemblyInfo.cs
*.csproj
